.cart-summary{
    background-color: #f5f3f3;
    padding: 20px;
    margin-top: 7%;
    &__heading{
        font-size: 17px;
        border-bottom: 1px solid #ddd;
        padding-bottom: 1.5rem;
    }
    &__title{
        padding-bottom: 1rem;
    }
    &__body{
        border-bottom: 1px solid #ddd;
        margin-bottom: 1.5rem;
    }
    &__button{
        padding: 20px 40px;
        background-color: #000;
        color: #fff;
        width: 100%;
    }
    &__list{
        padding-bottom: 1.5rem;
    }
    &__value{
        font-weight: bold;
    }
}
